<header>
    <nav class="navbar navbar-expand-lg m-3">
        <div class="container-fluid d-flex flex-column flex-lg-row align-items-center">
            <a class="navbar-brand mb-3 mb-lg-0 me-lg-3" href="{{ path('app_home') }}">
                <img src="{{ asset('images/logo.png') }}" alt="Logo" width="70" height="100">
            </a>
            <div class="d-flex flex-column align-items-center w-100 w-lg-auto">
                <div class="d-flex flex-row justify-content-center mb-3 w-100 order-2 order-lg-1">
                    <a href="{{ path('app_product') }}" class="btn me-lg-2 mb-2 mb-lg-0 d-flex flex-row align-items-center border-0 text-dark">
                        <span style="font-size: 1.7em;">🍰</span>
                        <span class="ms-2">Products</span>
                    </a>
                    <a href="{{ path('app_party') }}" class="btn me-lg-2 mb-2 mb-lg-0 d-flex flex-row align-items-center border-0 text-dark">
                        <span style="font-size: 1.7em;">🎉</span>
                        <span class="ms-2">Events</span>
                    </a>
                    <a href="{{ path('app_review') }}" class="btn mb-2 mb-lg-0 d-flex flex-row align-items-center border-0 text-dark">
                        <span style="font-size: 1.7em;">⭐</span>
                        <span class="ms-2">Reviews</span>
                    </a>
                </div>
                <form class="d-flex justify-content-center mb-3 mb-lg-0 w-100 order-1 order-lg-2" role="search">
                    <input class="customform form-control form-control-sm w-50 rounded-pill" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="d-flex flex-column flex-lg-row align-items-center mt-3 mt-lg-0 order-3">
            <div>
                <button id="cart-toggle-btn" class="btn me-2 rounded-circle" data-bs-toggle="modal" data-bs-target="#cartModal">
                    <i class="bi bi-bag" style="font-size: 1.5em;"></i>
                </button>
                {% include 'partials/_cart_sidebar.html.twig' %}
            </div>
                {% if app.user %}
                    <button id="profile-toggle-btn" class="rounded-circle btn btn-link text-dark text-decoration-none">
                        <img src="{{ asset(app.user.avatarPath) }}" alt="Profile" class="rounded-circle" width="32" height="32">
                    </button>
                    {% include 'partials/_profile_sidebar.html.twig' %}
                {% else %}
                    <button type="button" class="btn me-2" data-bs-toggle="modal" data-bs-target="#loginModal">
                        Login
                    </button>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

{% block javascripts %}
    <script src="{{ asset('js/sidebar.js') }}"></script>
    <script src="{{ asset('js/calculateTotal.js') }}"></script>
{% endblock %}